@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient-black {
    background: -webkit-linear-gradient(#000000, #001354);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mask-content{
    mask-image: linear-gradient(to right, transparent 12%, black, transparent 88%);
    -webkit-mask-image: linear-gradient(to right, transparent 12%, black, transparent 88%);
  }
}

@layer components{
  .btn {
    @apply inline-flex items-center tracking-tight font-medium rounded-md px-[15px] py-[10px];
  }

  .btn-primary{
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .tag{
    @apply text-sm w-fit font-bold rounded-lg tracking-tight border border-[#222]/10 px-3 py-1;
  }
}




